<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div>
			<h1 class="page-header" th:text="${tenantid}">Tenant</h1>
		</div>
		
		<div>
		<h2>Add a new referencia</h2>
			<form role="form" th:action="@{/{tenantid}/referencia/add(tenantid=${tenantid})}" th:object="${referencia}" method="post">
				<div class="form-group">
					<label for="first_name">motivo</label> 
					<input type="text" class="form-control" id="nombre"	th:field="*{motivo}" />
				</div>
				
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

		<div>
			<h2>Employees List</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>motivo</th>
											
					</tr>
				</thead>
				<tbody>
					<tr th:each="referencia : ${referencias}">
						<td th:text="${referencia.motivo}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>